:root {
    /* Default theme light */
    --text: #060b04;
    --background: #fbfefb;
    --primary: #67b253;
    --secondary: #9ad0af;
    --accent: #7dc5a4;
}

html[data-theme="light"] {
    --text: #060b04;
    --background: #fbfefb;
    --primary: #67b253;
    --secondary: #9ad0af;
    --accent: #7dc5a4;
}

html[data-theme="dark"] {
    --text: #f6fbf4;
    --background: #010401;
    --primary: #62ac4d;
    --secondary: #2f6544;
    --accent: #3a8262;
}

/* Main */

/* Theme switcher */
.themeSwitcher {
    position: fixed;

    /* bottom right */
    bottom: 2rem;
    right: 2rem;
    padding: 0.5rem;

    background-color: var(--accent);
    border-radius: 20px;

    transition: 0.5s;
}

.themeSwitcher:hover {
    cursor: pointer;
    background-color: var(--secondary);
    scale: 1.05;
}

.themeSwitcher:active {
    background-color: var(--accent);
    scale: 0.95;
}