@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
    --text: #070c0c;
    --background: #fafcfd;
    --primary: #57b5c1;
    --secondary: #98d9e2;
    --accent: #57ccdc;
}

html[data-theme="light"] {
    --text: #070c0c;
    --background: #fafcfd;
    --primary: #57b5c1;
    --secondary: #98d9e2;
    --accent: #57ccdc;
}

html[data-theme="dark"] {
    --text: #f2f7f7;
    --background: #010304;
    --primary: #3e9ba8;
    --secondary: #1d5f67;
    --accent: #239aa9;
}

center {
    display: block;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: var(--text);
}

h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--text);
}

p {
    font-family: 'Poppins', sans-serif;
    color: var(--text);
}

body {
    background-color: var(--background);
    color: var(--text);
}

/* Main Table */
#mainTable {
    width: 85%;
    border: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    background-color: var(--background);

    border-radius: 5px;
}

/* Table for the header */
#headerTableData {
    border-radius: 5px;
    background-color: var(--primary);
}

#headerTable {
    margin-left: auto;
    margin-right: auto;
}

/* Posts */
.post {
    background-color: var(--secondary);
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

.infoText {
    color: var(--text);
    font-size: 10px;
    text-align: right;
}

.postTable {
    width: 100%;
}

.postsTable {
    width: 100%;
}

#posts {
    width: 100%;
}

.postFooter {
    text-align: right;
}


/* Create Post Button */
#postButton {
    position: fixed;

    bottom: 1.5rem;
    right: 1.5rem;

    transition: 0.5s;
}

#postButton:hover {
    scale: 1.1;
}

#postButton:active {
    scale: 0.9;
}

#userButton {
    position: fixed;

    bottom: calc(1.5rem + 50px + 0.2rem);
    right: 1.5rem;

    transition: 0.5s;
}

#userButton:hover {
    scale: 1.1;
}

#userButton:active {
    scale: 0.9;
}